<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add New User</title>
   <link rel="stylesheet" href="~/css/site.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="icon" href="favicon.ico">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
   <nav class="navbar navbar-inverse"> 
      <div class="container-fluid" id="color">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">Dashboard</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
             <li><a href="/show/@ViewBag.User_one.id">Message Board</a></li>
          </ul>
          <ul class="nav navbar-nav">
                 <li><a href="/edit">Profile</a></li>
          </ul>
          <ul class="nav navbar-nav">
                 <li><a href="/logout">Logout</a></li>
          </ul>
          <ul class="nav navbar-nav">
             <a class="dropdown-toggle profile-image" data-toggle="dropdown">
             <img src="@ViewBag.User_one.image" class="img-circle special-img"></a>
          </ul>
        </div>
      </div>
      </nav>
  <div class="dashboardbg"></div>
  <div class="container">
        <div class="row">
          <div class="col-md-5 formBox2">
            <h1>Add New User</h1>
            <a href="dashboard"><button type="button" class="btn pull-right btn-default">Return To Dashboard</button></a>
            <br><br><br>
            <form action='createNewUser' method="Post">
            <div class="form-group">
              <label for="email">Email Address</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input name="first_name" type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input name="last_name" type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input name="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="cPassword">Confirm Password</label>
              <input name="confirm_password" type="password" class="form-control" id="cPassword" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
          <ul>
            @{
                if(ViewBag.errors != null){
                    foreach(var error in ViewBag.errors){
                    <p class="errors">@error</p>
                    }
                }   
            } 
        </ul>
        </div>
      </div>
    </div>
</body>
</html>
